PORT=Custom Port For Server If you do not want to use default 3000 
NODE_ENV=development
SESSION_SECRET=Secret to Sign Session Cookies
SECURE_COOKIE=Boolean
MONGODB_URI=Connection URI
COOKIE_DOMAIN=Domain For Which The Cookie Will Be Set
COOKIE_MAX_AGE_DAYS=Any Number
